<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="@{_header.html}"/>
<script th:inline="javascript">

	
	// 장바구니 집계 작업
	aggrProduct();
	
	function aggrProduct() {
		$(function(){
			
			var checkedProduct = $('input[name=checkProduct]:checked').parent().parent();
			
			// 상품수 집계
			var tdCounts = checkedProduct.find('.count');
			var totCount = 0;
			
			$.each(tdCounts, function(){
				var count = parseInt($(this).text());
				totCount += count;
			});
			
			$('.info tr:nth-child(1) > td:nth-child(2)').text(totCount);
			
			// 판매가 집계
			var tdPrices = checkedProduct.find('.price');
			var totPrice = 0;
			
			$.each(tdPrices, function() {
				var price = parseInt($(this).text().replace(/,/g, ''));
				totPrice += price;
			});
			
			$('.info tr:nth-child(2) > td:nth-child(2)').text(totPrice.toLocaleString());
			
			// 할인금액 집계
			var tdDiscounts = checkedProduct.find('.discount');
			var totDiscountPrice = 0;

			$.each(tdDiscounts, function() {
				
				var price = parseInt($(this).prev().text().replace(/,/g, ''));
				var discount = parseInt($(this).text().replace(/,/g, ''));
				
				totDiscountPrice += (price * (discount/100)) * -1;
			})
			
			$('.info tr:nth-child(3) > td:nth-child(2)').text(totDiscountPrice.toLocaleString());
			
			// 배송비 집계
			var tdDeliverys = checkedProduct.find('.delivery');
			var totDelivery = 0;
			
			$.each(tdDeliverys, function() {
				
				var delivery = $(this).text().replace(/,/g, '');
				
				if(delivery != '무료배송') {
					totDelivery += parseInt(delivery);	
				}
			});
			$('.info tr:nth-child(4) > td:nth-child(2)').text(totDelivery.toLocaleString());
			
			// 포인트 집계
			var tdPoints = checkedProduct.find('.point');
			var totPoint = 0;
			
			$.each(tdPoints, function() {
				var point = parseInt($(this).text().replace(/,/g, ''));
				totPoint += point;
			});
			
			$('.info tr:nth-child(5) > td:nth-child(2)').text(totPoint.toLocaleString());
			
			// 전체 주문 금액
			var tdTotals = checkedProduct.find('.total');
			var totTotal = 0;
			
			$.each(tdTotals, function() {
				var total = parseInt($(this).text().replace(/,/g, ''));
				totTotal += total;
			});
			
			$('.info tr:nth-child(6) > td:nth-child(2)').text(totTotal.toLocaleString());
			
		});
	}
	

	// 상품 체크박스
	$(function() {
		
		var checkAll = $('input[name=all]');
		var checkProduct = $('input[name=checkProduct]');
		
		// 전체 체크박스
		checkAll.change(function() {
			if($(this).is(':checked')) {
				// 전체 상품 체크
				checkProduct.prop('checked', true);
			} else {
				// 전체 상품 체크해제
				checkProduct.prop('checked', false);
			}
			aggrProduct();
		});
		
		// 개별 체크박스
		checkProduct.change(function() {
			aggrProduct();
		});
		
	});
	
	// 상품 삭제하기
	$(function(){
		
	});
	
	// 상품 주문하기
	$(function(){
		
	});
	

</script>


<main>
	<!-- 카테고리/베스트 상품 영역 -->
	<aside>
		<th:block th:include="@{_category.html}"/>
	</aside>

	<!-- 장바구니 -->
	<section id="cart">

		<!-- 제목, 페이지 네비게이션 -->
		<nav>
			<h1>장바구니</h1>
			<p>
				HOME > <span>패션·의류·뷰티</span> > <strong>장바구니</strong>
			</p>
		</nav>

		<section>
			<form action="#">
				<table>
					<thead>
						<tr>
							<th><input type="checkbox" name="all" checked></th>
							<th>상품명</th>
							<th>총수량</th>
							<th>판매가</th>
							<th>할인</th>
							<th>포인트</th>
							<th>배송비</th>
							<th>소계</th>
						</tr>
					</thead>
					<tbody>
						<tr class="empty">
							<td colspan="7">장바구니에 상품이 없습니다.</td>
						</tr>
						<tr th:each="cart:${carts}">
							<td><input type="checkbox" name="checkProduct" checked></td>
							<td>
								<article>
									<a href="#"><img th:src="@{/thumb/{c1}/{c2}/{img}(c1=${cart.cate1}, c2=${cart.cate2}, img=${cart.thumb1})}" alt=""></a>
									<div>
										<h2>
											<a href="#">[[${cart.name}]]</a>
										</h2>
										<p></p>
									</div>
								</article>
							</td>
							<td class="count">[[${cart.count}]]</td>
							<td class="price">[[${#numbers.formatInteger(cart.price, 3, 'COMMA')}]]</td>
							<td class="discount">[[${cart.discount}]]%</td>
							<td class="point">[[${cart.point}]]</td>
							<td class="delivery" th:if="${cart.delivery} == 0">무료배송</td>
							<td class="delivery" th:unless="${cart.delivery} == 0">[[${#numbers.formatInteger(cart.delivery, 3, 'COMMA')}]]원<</td>
							<td class="total">[[${#numbers.formatInteger(cart.total, 3, 'COMMA')}]]</td>
						</tr>
					</tbody>
				</table>
				<input type="button" name="del" value="선택삭제">
			</form>
		</section>

		<div class="info">
			<h2>전체합계</h2>
			<table border="0">
				<tr>
					<td>상품수</td>
					<td>1</td>
				</tr>
				<tr>
					<td>상품금액</td>
					<td>27,000</td>
				</tr>
				<tr>
					<td>할인금액</td>
					<td>-1,000</td>
				</tr>
				<tr>
					<td>배송비</td>
					<td>0</td>
				</tr>
				<tr>
					<td>포인트</td>
					<td>260</td>
				</tr>
				<tr>
					<td>전체주문금액</td>
					<td>26,000</td>
				</tr>
			</table>
			<input type="button" name="" value="주문하기">

		</div>
	</section>
</main>
<th:block th:include="@{_footer.html}"/>